@use "global" as *;

.card-box {
    margin: 0 auto;

    @include mq(md) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: rem(1280);
        width: 100%;
        // 
    }
}